<!--https://krispo.github.io/angular-nvd3/#/quickstart-->



<!--

 
<div class="parallax-container">
      <div class="parallax"><img src="app/images/drone1.png"></div>
    
    
    </div>

<script>
    $(document).ready(function(){
      $('.parallax').parallax();
    });
</script>
-->

<h5 id="data-intro"></h5>




<u>
<h5>US Drone Strikes per Year:</h5>
</u>
  <nvd3 options="$ctrl.options" data="$ctrl.data"></nvd3>







  <div class="carousel">
    <a class="carousel-item"><img src="app/images/stop.jpg"></a>
    <a class="carousel-item"><img src="app/images/funeral.jpg"></a>
    <a class="carousel-item"><img src="app/images/boy.jpg"></a>
   <a class="carousel-item"><img src="app/images/flag.jpg"></a>
 
  </div>
<script>
    $(document).ready(function(){
      $('.carousel').carousel();
    });
        
</script>











<!--<div class="parallax-container">
      <div class="parallax"><img src="http://i2.cdn.cnn.com/cnnnext/dam/assets/120925021747-pakistan-drone-strike-protest-horizontal-large-gallery.jpg"></div>
</div>-->


