
<div>
	<h1 class="page-header">Search</h1>

    
    <div class="country-search col-xs-12 col-sm-6" >
    <h2>Search By Country: </h2>
    <form class='search search-position-form'>
        <select name='positionSearch' ng-model="$ctrl.country">
            <option value="Pakistan">Pakistan</option>
            <option value="Somalia">Somalia</option>
            <option value="Yemen">Yemen</option>
          </select>
       
           <button class="btn-primary" id="country-button" ng-click="$ctrl.searchByCountry($ctrl.country)">Search</button>    
     </form>
    </div>

    <div class="year-search col-xs-12 col-sm-6" >
    <h2>Search By Year: </h2>
    <form class='search search-position-form'>
        <select ng-model="$ctrl.year">
            <option value="2002" >2002</option>
            <option value="2003">2003</option>
            <option value="2004">2004</option>
            <option value="2005">2005</option>  
            <option value="2006">2006</option>
            <option value="2007">2007</option>
            <option value="2008">2008</option>
            <option value="2009">2009</option>
            <option value="2010">2010</option>
            <option value="2011">2011</option>
            <option value="2012">2012</option>
            <option value="2013">2013</option>
            <option value="2014">2014</option>
            <option value="2015">2015</option>
            <option value="2016">2016</option>
              </select>
           <button class="btn-primary" id="year-button" ng-click="$ctrl.searchByYear($ctrl.year)">Search</button>    
     </form>
    </div>     


    <div class="results" ng-if="$ctrl.arr.length > 0"> <p>Strikes Found: {{$ctrl.arr.length}}</p>

<div class="container-fluid">
<div class="row">
<div class=" col-xs-12 col-sm-4" dir-paginate="strike in $ctrl.arr | itemsPerPage: $ctrl.pageSize" current-page="$ctrl.currentPage">
<div class="card card-block"  >
  <h4 class="card-title">{{strike.town || 'Unknown Town'}}, {{strike.country}}</h4>
  <h5>{{strike.date.slice(0,10)}}</h5>
  <p class="card-text">Deaths: {{strike.deaths}}</p>
  <p> Summary: {{strike.bij_summary_short  || 'No Summary Available'}}</p>
  <a href="{{strike.bij_link}}" class="card-link">Read More</a>
</div>
</div>
</div>

<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="app/components/drone/dirPagination.tpl.html"></dir-pagination-controls>

</div>

</div>
