@mixin box($size){
    width:$size;
    height:$size;
}
@mixin flex($justify-content, $align-items){
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin stretch{
    top:0;
    left:0;
    right:0;
    bottom:0;
}

@mixin overlay($bg){
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:$bg;

}

@mixin block-fixed-top($height){
    position: fixed;
    top:0;
    left:0;
    right:0;
    height:$height;
}

@mixin spacer-vertical($height){
    padding-top:$height;
    width:100%;
}

@mixin bg-fixed($url){
    background-image:url($url);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}