@media screen and (max-width: 768px) {

#drone-intro{
    font-size: 0.5em; 
}

// #data-intro{
//     font-size: 0.5em; 
// }

.content-b{
    font-size: 1.3em;
}

.content-m{
    font-size: 1em; 
}


.content-2{
    font-size: 0.8em; 
}

.by-map{
    width:90%; 
    height:75%; 
}



}