
body{
    /*background: black; */
    color:seagreen;
    overflow:auto;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Share Tech Mono', monospace;
     
     background:   -webkit-linear-gradient(
      rgba(5, 5, 5, 0.86), 
      rgba(5, 5, 5, 0.86)
    ),
    /* bottom, image */
    url('../images/mq1-predator.jpg');
     
     background:   linear-gradient(
      rgba(5, 5, 5, 0.86), 
      rgba(5, 5, 5, 0.86)
    ),
    /* bottom, image */
    url('../images/mq1-predator.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    
} 

h3{
    color:seagreen;
    font-family: 'Share Tech Mono', monospace;
}

img {
    width:50%
}



.card{
    position: relative;
    background-color: rgba(52, 49, 40, 0.7);
    margin: 0.5rem 0 1rem 0;
    overflow-y: auto;

}
.card-block{
    height: 40vh;
        background-color: rgba(52, 49, 40, 0.7);
    -webkit-transition:box-shadow .25s;
    transition: box-shadow .25s;
    border-radius: 2px;
    /*overflow: auto; */

}



.bar-graph {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.accent{
    color: red; 
}

html {
    overflow: auto;
}
body {
    position: absolute;
    top: 20px;
    left: 20px;
    bottom: 20px;
    right: 20px;
    padding: 30px; 
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: black; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: grey; 
}



@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);

* {
  font-family: Lato;
}

.content h1 {
  font-weight: 300;
  text-align: center;
  width:100%; 
}

svg {
  margin: 0 auto;

   text.middle {
    font-family: Lato;
    font-weight: 300;
    font-size: 24px;
  }
  
  .nvd3.nv-pie .nv-pieLabels text {
    font-family: Lato;
    font-size: 18px;
    font-weight: 300;
    fill: #fff !important;
  }
}

#drone-intro{
    color: antiquewhite; 
}

.btn-data{
    width:200px; 
}

.by-map{
    width:75%; 
    height:60%; 
    position: center
}