@import "variables.scss";
@import "override-defaults.scss";
html {
    overflow: auto;
}
body {
    position: absolute;
    top: 20px;
    left: 20px;
    bottom: 20px;
    right: 20px;
    padding: 30px; 
    overflow-y: scroll;
    overflow-x: hidden;
}


body{
    /*background: black; */
    color:$colorA;
    overflow:auto;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Share Tech Mono', monospace;
     
     background:   linear-gradient(
      rgba(5, 5, 5, 0.86), 
      rgba(5, 5, 5, 0.86)
    ),
    /* bottom, image */
    url('../images/mq1-predator.jpg');
} 

h3{
    color:$colorA;
    font-family: 'Share Tech Mono', monospace;
}

img {
    width:50%
}



.card{
    position: relative;
    background-color: rgba(52, 49, 40, 0.7);
    margin: 0.5rem 0 1rem 0;
    overflow-y: auto;

}
.card-block{
    height: 40vh;
        background-color: rgba(52, 49, 40, 0.7);
    transition: box-shadow .25s;
    border-radius: 2px;
    /*overflow: auto; */

}



.bar-graph {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.accent{
    color:$accent; 
}

@keyframes strike{
    0%{
        width:1;
        height:1;
        background:#ff003b;
        opacity:1;
        transform:scale(0)
    }
    100%{
        opacity:0;
        transform:scale(50)
    }
}
.strike{
    opacity:0;
    $strike:#ff003b;
    position:absolute;
    background: $strike;
    top:50%;
    left:50%;
    border:5px $strike solid;
    border-radius: 50%;
    animation: strike 2s;
    animation-iteration-count: 1;
    animation-timing-function:cubic-bezier(.14,.88,.66,.53)
}