@import "mixins.scss";
@import "variables.scss";
@import "override-defaults.scss";
html {
    overflow: auto;
    font-size:16px;
}

body{
    position:relative;
    /*background: black; */
    color:$white;
    color:rgba($white, 0.87);
    overflow:auto;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Share Tech Mono', monospace;
    /* bottom, image */
    background-image:url(../images/mq1-predator.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;

}
.dark-overlay{
    background-color:#080e16;
    background-color:rgba(8, 14, 22, 0.93);
}
.page-container{
    /*@include box(100%);*/
    @extend .dark-overlay;
    /*position: absolute;*/
    /*@include stretch;*/
}

h3{
    color:$colorA;
    font-family: 'Share Tech Mono', monospace;
}

img {
    width:50%
}

.intro-container{
    @include box(88%);
    @include flex(flex-start, flex-start);
    margin-left: 12%;
}

.container-fluid{
    @extend .intro-container
}

.intro-text{
    margin-top:20%;
    font-size:2rem;
}

.shadow-overlay{
    /*@include overlay(linear-gradient(rgba($dark, 0.9), rgba($dark, 0.5)));*/
    @include overlay(rgba($dark, 0.9));
    overflow-y:scroll;
}

.card{
    position: relative;
    background-color: $dark;
    margin: 0.5rem 0 1rem 0;
    overflow-y: auto;
    box-shadow:1px 0px 15px rgba(black, 0.2);
    .card-block{
        /*height: 40vh;*/
        background-color:transparent;
        transition: box-shadow .25s;
        border-radius: 2px;
        /*overflow: auto; */
        &.card-reveal{
            background-color:$dark;   
        }
    }
}
.black-text{
    color:black;
}


.bar-graph {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.accent{
    color:$accent; 
}

@keyframes strike{
    0%{
        width:1;
        height:1;
        background:#ff003b;
        opacity:1;
        transform:scale(0)
    }
    100%{
        opacity:0;
        transform:scale(50)
    }
}
.strike{
    opacity:0;
    $strike:#ff003b;
    position:absolute;
    background: $strike;
    top:50%;
    left:50%;
    border:5px $strike solid;
    border-radius: 50%;
    animation: strike 2s;
    animation-iteration-count: 1;
    animation-timing-function:cubic-bezier(.14,.88,.66,.53)
}

ul.pagination{
    margin-bottom: 0;
    padding-bottom:15px;
}

.btn-retro{
    background: $dark;
    border-radius: 1px;
    box-shadow: 0px 2px $white;
    transition: all 100ms linear;
    border:1px solid $white;
    &:hover{
        border:1.2px solid $white;
        background:rgba($dark, 0.5);
        transform:translateY(1px);
        box-shadow: 0px 4px $white;
    }
    &:visited, &:focus, &:hover{
        @extend .btn-retro;
    }
}

.nav-area{
    li{
        .btn-retro{
            &:hover{
                i{
                }
            }
        }
    }
}

.dropdown-content{
    background:$dark;
    color:$white;
}
.dropdown-content li>a, .dropdown-content li>span{
    color:$white;
}
.select-wrapper input.select-dropdown{
    &:active{
        color:$white;
    }
}
.search-fixed-top{
    position: relative;
    @include block-fixed-top(25%);
    /*@include bg-fixed('../images/mq1-predator.jpg');*/
    z-index:3;
    .shadow-overlay{
        background:linear-gradient(to bottom, rgba($dark, 1), rgba($dark, 0.7), rgba($dark, 0));
        position: absolute;
    }
}
.search-result-spacer{
    @include spacer-vertical(25%);
}

.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}